#roomManager {
	position: absolute;
	width: 100vw;
	min-height: 100vh;
	z-index: 10;
	background-color: #26a221;
	text-align: center;
	padding-left: calc(100vw * var(--shiftPercentageLeft) * var(--counterTranslationScaling));
	padding-right: calc(100vw * var(--shiftPercentageRight) * var(--counterTranslationScaling));
	transform: translateX(calc(-100vw * var(--shiftPercentageLeft) * var(--counterTranslationScaling)));
}

#mahjongHeading, #fourFriendsHeading {
	font-size: 2.5em;
	color: #ffbd17;
	display: inline-block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#fourFriendsHeading {
	font-size: 2.1em;
	margin-top: 0.3em;
	vertical-align: top;
	margin-left: 0.5em;
	font-style: italic;
	color: #ffe100;
}

#selectChineseMahjong, #selectAmericanMahjong, #selectPanamaRules {
	border-radius: 250000px;
	font-size: 1.5em;
	padding: 5px 20px;
}

#selectChineseMahjong:disabled::before, #selectAmericanMahjong:disabled::before {
	content: "✓";
}

#roomManager #roomIdInput, #roomManager #nicknameInput{
	width: calc(100vw - 16px);
	max-width: 440px;
	font-size: 2em;
	padding: 5px;
}

#roomManager #supportInfo {
	font-size: 1.5em;
}

#roomManager #nicknameInput {
	margin-top: 1vh;
}

#roomManager #joinOrCreateRoom {
	margin-top: 1vh;
	position: relative;
}

#joinRoom, #createRoom, #offlineSinglePlayer, #uploadSaveButton {
	min-width: 200px;
	border-radius: 3.5vh;
	font-size: 1.7em;
	padding: 10px;
}

#joinRoom {
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#uploadSaveButton, #settingsMenuButton {
	background: linear-gradient(45deg, #ffe304, #ffcb00, #ffafa0);
}

#uploadSaveButton, #offlineSinglePlayer {
	margin-top: 5px;
}

#roomManager #createRoom {
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#offlineSinglePlayer, #addBotButton, #goOfflineButton {
	background: linear-gradient(45deg, #ccadf8, #96a6ee, #8fc6f6);
}

#resumeSaveNowButton, .deleteDataButton {
	background: linear-gradient(45deg, #e2d2f9, #c2caf0, #b2d6f7); /*Lightened offlineSinglePlayer*/
}

#roomManager #copyrightNotice {
	text-align: center;
	width: 100vw;
	color: #ffbd17;
}

#connectionStatus {
	font-size: 1.7em;
	width: fit-content;
	padding: 4px 15px;
	background: #ffc3c3;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#savedGameDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 6px 15px;
	background: #fed601;
	margin: auto;
	margin-top: 5px;
	border-radius: 20px;
}

#roomManager #roomInfo {
	margin: 0;
}

#roomManager #playerView {
	margin-bottom: 5px;
}

#roomManager .playerViewRow {
	text-align: left;
	padding-left: 2vw;
	padding-right: 2vw;
	border: 2px solid #00000044;
}

#roomManager .playerViewNameSpan {
	font-size: 1.7em;
	width: 40%;
	display: inline-block;
}

#roomManager .editableName.playerViewNameSpan:hover {
	margin-left: -4px;
	border: 2px solid #0097f3;
}

#roomManager .editableName.playerViewNameSpan::after {
	content: url(../assets/edit.svg);
	display: inline-block;
    width: 0.6em;
	margin-left: 8px;
}

#roomManager .playerViewVoiceChoice {
	font-size: 1em;
	width: 30%;
	display: inline-block;
	text-align: center;
}

#roomManager .playerViewVoiceChoice select {
	font-size: 1em;
	max-width: 100%;
}

#roomManager .playerViewIdSpan {
	font-size: 1em;
}

#roomManager .playerViewCard {
	width: 30%;
	display: inline-block;
	font-size: 1.5em;
	text-align: center;
}

#roomManager #roomSaveIdEl {
	text-align: center;
}

#roomManager .playerViewKickButton {
	background: linear-gradient(45deg, #f23f3f,#eeb972);
	border-radius: 250000px;
	padding: 5px 20px;
	font-size: 1em;
	cursor: pointer;
}

#deleteSaveNowButton {
	font-size: 1.7em;
	margin: 0;
	cursor: pointer;
}

#downloadSaveNowButton {
	width: 2em;
	padding-left: 12px;
	padding-right: 18px;
	cursor: pointer;
}

#startGameButton, #addBotButton, #leaveRoomButton, #settingsMenuButton {
	font-size: 1.5em;
	border-radius: 250000px;
	padding: 10px;
}

#roomManager #startGameButton  {
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#resumeSaveNowButton, #stayOnlineButton, #goOfflineButton, .deleteDataButton {
	border-radius: 250000px;
	font-size: 1.7em;
	border: 2px solid black;
	margin: 0;
}

.settingsMenuDiv {
	text-align: left;
}

.deleteDataButton {
	font-size: inherit;
	padding: 5px 15px;
}

#stayOnlineButton, #goOfflineButton {
	margin-top: 1vh;
	margin-bottom: 1.5vh;
	padding: 5px 20px;
}

#resumeSaveNowButton {
	margin-left: 5px;
	padding: 5px 15px;
}

#leaveRoomButton, #stayOnlineButton {
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#tutorialLink {
	font-size: 1.7em;
	line-height: 60px;
}

#documentationLink {
	font-size: 1.3;
	line-height: 30px;
}

#inviteYourFriendsElem {
	background-color: #2fcb29;
	border-radius: 10px;
	margin-top: 6px;
	padding: 6px;
	padding-top: 0;
	overflow: hidden;
}

#QRImageElement {
	margin-left: 20px;
	margin-top: calc(1em - 6px);
}

#inviteYourFriendsDiv {
	display: inline-block;
	margin-top: 0.5;
	vertical-align: top;
}

#joinRoomLinkElem {
	font-size: 1.5em;
	margin: 0;
}

#screenRotationAlert {
	font-size: 2em;
	background-color: white;
}

#externalAppStoresDiv * {
	height: 70px;
	max-width: 90%;
	margin: 16px;
	margin-right: 8px;
	margin-left: 8px;
}

#gameSettingsElem {
	background-color: #2fcb29;
	border-radius: 10px;
	padding: 5px;
	margin: 5px 0px;
}

#gameSettingsElem select, #gameSettingsElem label {
	font-size: 1.25em;
}

.guaranteedHandsTableContainer {
	max-height: 30vh;
	overflow: scroll;
}

.guaranteedHandsTable {
	background-color: white;
	width: 100%;
	border-collapse: collapse;
}

.guaranteedHandsTable tr:first-child {
	background-color: #ffff74;
}

.guaranteedHandsTable tr td {
	text-align: left;
	border-top: 1px solid black;
	font-size: 1.5em;
	height: 1.7em;
	cursor: pointer;
}

.guaranteedHandsTable span {
	padding: 5px;
}

.guaranteedHandsTable tr td:first-child {
	padding-left: 10px;
}

.guaranteedHands0 {
	background-color: lightblue;
}

.guaranteedHands1 {
	background-color: lightgreen;
}

.guaranteedHands2 {
	background-color: #f9dba3;
}

.saveRow {
	background-color: white;
}





input.switch + label {
	vertical-align: middle;
}


/*Below styles of input.switch and input.switch + label are Copyright (c) 2021 by oobleck (https://codepen.io/oobleck/pen/MYjdbx), with modifications included*/
input.switch {
  display: none;
}
input.switch + label {
  font-size: 1em;
  line-height: 1;
  width: 4rem;
  height: 2rem;
  background-color: #ddd;
  background-image: none;
  border-radius: 2rem;
  padding: 0.1666666667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
  font-family: inherit;
}

input.switch.animate + label {
	transition: all 0.1s ease-in-out;
}

input.switch + label:before {
  /* Label */
  text-transform: uppercase;
  color: #b7b7b7;
  content: attr(data-off-label);
  display: block;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 2rem;
  position: absolute;
  right: 0.2166666667rem;
  margin: 0.2166666667rem;
  top: 0;
  text-align: center;
  min-width: 1.6666666667rem;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}
input.switch + label:after {
  /* Slider */
  content: "";
  position: absolute;
  left: 0.1666666667rem;
  background-color: #f7f7f7;
  box-shadow: none;
  border-radius: 2rem;
  height: 1.6666666667rem;
  width: 1.6666666667rem;
  top: 0.33333333333rem;
  transition: all 0.1s ease-in-out;
}
input.switch:checked + label {
  background-color: lightblue;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.2));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) inset;
}
input.switch:checked + label:before {
  color: #fff;
  content: attr(data-on-label);
  right: auto;
  left: 0.2166666667rem;
}
input.switch:checked + label:after {
  left: 2.1666666667rem;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

input.switch + label {
  background-color: #ee6562;
}
input.switch + label:before {
  color: #fff !important;
}
input.switch:checked + label {
  background-color: #297bfe; /*BCE954*/
}
input.switch:checked + label:before {
  color: #fff !important;
}
